/* Normal import */
@import "academicProgress.less";
@import "whatIdoing.less";
@import "teacherObservations.less";
@import "navBarInferior.less";
@import "menuHomepage.less";
@import "navUsuario.less";

@smartphones: ~"only screen and (max-width: 481px)";
@tablets: ~"only screen and (min-width: 482px) and ( max-width: 1023px)";
@desktop: ~"only screen and (min-width: 1024px) and ( max-width: 1280px)";
@desktopXL: ~"only screen and (min-width: 1281px) and ( max-width: 2048px)";

@colorCircle: #8bc26e;
@circleDarkBlue: #8bc26e;
@colorCircleSelect: #f99927;
@circleOrange: #3aaa35;
@colorGrisEduWEB: #F39200;
@colorNavBar: #1d1d1b;

@alturaNavDesktop: 90px;
@alturaNavTablet: 50px;
@alturaNavCell: 40px;

@alturaNameStudent: 10px;

@alturaNavInfMovil: 50px;
@alturaNavInfTablet: 75px;
@alturaNavInfTabletXL: 100px;


@backgroundPresented: #054663;
@backgroundAttempted: #753cd9;
@backgroundMastered: #3d8341;
@colorProgress: white;

@fondo:#787878;

body
{
/*    background-color: @fondo;*/
    font-family: 'Montserrat', sans-serif;
}
img
{
    @media @smartphones{ 
        width:55%;

    }
    @media @tablets{ 
        width:55%;

    }
    @media @desktop{ 
        width:55%;

    }
    @media @desktopXL{ 
        width:50%;

    }  
}
.nopaddingMargin {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding{
    padding: 0 !important;
}


#nameStudent{
    position: fixed;
    top: @alturaNavDesktop;

    font-size: medium;
    font-weight: bold;
    background-color: @fondo;
    color: white;
    z-index: 2;

    @media @tablets{
        font-size: small;
        top: @alturaNavTablet;
    }
    @media @smartphones{
        font-size: xx-small;
        top: @alturaNavCell;
    }
}
#userform {
    max-width: 35%;
    @media @tablets{
        max-width:50%;
    }
    @media @smartphones{
        max-width:100%;
    }
}




