@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

#userform {
    max-width: 35%;

    @media @smartphones, @tablets {
        max-width:100%;
    }
}

.navUsuario{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media @smartphones, @tablets {
        height: 40px;
    }
    .row{
        height: 100%;
        #childrensNav{
            .circle 
        }
        .divName{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-items: center;
            height: 100%;
            .row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .parentName{
                    margin: 0px;
                    font-size: x-large;
                    @media @smartphones {
                        font-size: x-small;
                    }
                }
                .termName{
                    margin: 0px;
                    @media @smartphones, @tablets {
                        margin: 0px;
                        font-size: xx-small;
                    }

                }
            }
        }
        .logOut{
            height: 100%;
            a img{
                height: 100%;
                width: 80%;
            } 
        }
    }
}