@smartphones: ~"only screen and (max-width: 481px)";
@tablets: ~"only screen and (min-width: 482px) and ( max-width: 1023px)";
@desktop: ~"only screen and (min-width: 1024px) and ( max-width: 1280px)";
@desktopXL: ~"only screen and (min-width: 1281px) and ( max-width: 2048px)";

@colorCircle: #055263;
@circleDarkBlue: #055263;
@colorCircleSelect: #f99927;
@circleOrange: #f99927;
@colorGrisEduWEB: #F39200;
@colorNavBar: #4d4d4d;
@alturaNavDesktop: 90px;
@alturaNavCell: 40px;
@alturaNameStudent: 10px;

@backgroundPresented: #054663;
@backgroundAttempted: #753cd9;
@backgroundMastered: #3d8341;
@colorProgress: white;

@fondo:#dadada;
body
{
    background-color: @fondo;
}
img
{
    @media @smartphones{ 
        width:60%;

    }
    @media @tablets{ 
        width:60%;

    }
    @media @desktop{ 
        width:60%;

    }
    @media @desktopXL{ 
        width:40%;

    }  
}
.nopaddingMargin {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding{
    padding: 0 !important;
}


#nameStudent{
    position: fixed;
    top: @alturaNavDesktop+2;

    font-size: medium;
    font-weight: bold;
    background-color: #05526333;
    background-color: #055263;
    color: white;
    z-index: 2;

    @media @tablets{
        font-size: small;

    }
    @media @smartphones{
        font-size: xx-small;
        top: @alturaNavCell;
    }
}
#userform {
    max-width: 35%;
    @media @tablets{
        max-width:50%;
    }
    @media @smartphones{
        max-width:100%;
    }
}

.navUsuario{
    overflow: hidden;
    background-color: @colorNavBar;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: @alturaNavDesktop;
    margin-bottom: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    @media @smartphones{
        height: @alturaNavCell;
    }

    .row{
        height: 100%;
        #childrensNav{
            height: 100%;
            .row{
                margin: 0px;

                display:flex;
                align-items: center;
                .circle{
                    cursor: pointer;
                    background-color: @circleDarkBlue;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    border: 3px solid  #fff;
                    margin-left: 5px; 
                    text-align: center;
                    vertical-align: middle;
                    line-height: 65px; 
                    font-family: 'Coda Caption', sans-serif;
                    font-size: xx-large;
                    @media @smartphones {
                        height: 35px;
                        width: 35px;
                        border: 2px solid #fff;
                        line-height: 30px; 
                        font-size: medium;
                    }
                }
            }
        }
        .divName{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-items: center;
            height: 100%;
            .row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .parentName{
                    margin: 0px;
                    font-size: x-large;
                    @media @smartphones {
                        font-size: x-small;
                    }
                }
                .termName{
                    margin: 0px;
                    @media @smartphones, @tablets {
                        margin: 0px;
                        font-size: xx-small;
                    }

                }
            }
        }
        .logOut{
            height: 100%;
            a img{
                height: 100%;
                width: 80%;
            } 
        }
    }
}

#homepage{

    padding-top: 80px;
    //height: -webkit-fill-available;
    @media @tablets{ 
        padding-top: 120px;
    }
    @media @desktop{ 
        padding-top: 120px;
    }
    @media @desktopXL{ 
        padding-top: 120px;
    }
    div{
        div{
            //background-color: @colorCircle;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            margin-bottom: 10px;
            height:300px;
            flex-direction: column;
            color: white;
            font-weight: bold;
            text-align: center;
            @media @smartphones{ 
                height:180px;
                font-size: smaller;
                padding: 5%;

            }
            @media @tablets{ 
                height:250px;
                font-size: small;
                padding: 2%;

            }
            @media @desktop{ 
                height:300px;
                font-size: medium;
                padding: 2%;

            }
            @media @desktopXL{ 
                height:350px;
                font-size: medium;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 2%;
                padding-bottom: 2%;

            }
        }


        .btnHomepage:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }
    /*.area{
        height: 250px;
        margin-bottom: 3px;
        border-radius: 10px;
        @media @smartphones {
            height: 250px;
        }
        @media  @tablets{
            height: 350px;
        }
    }*/
}

#accordion{
    transition: margin-left .5s;
    padding: 20px;
    margin-top:  @alturaNavDesktop+8;
    @media @smartphones{
        margin-top: @alturaNavCell+8;
    }
    @media @tablets,@desktop,@desktopXL{
        margin-left: 250px;    
    }
    h1{
        text-align: center;
        @media @smartphones{
            font-size: large;
            font-weight: bold;
        }

    }
    .progressMastered{
        width: 34%;
        background-color: @backgroundMastered;
        color: white !important;
    }

    .progressPresented{
        width: 33%;
        background-color: @backgroundPresented;
        color: white !important;
    }

    .progressAttempted{
        width: 33%;
        background-color: @backgroundAttempted;
        color: white !important;
    }
    .progress{
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .card{
        .card-header{
            border-bottom: 1px solid #bbb7b7e6;
        }
        .card-header:last-child {
            border-bottom: 1px solid white;
        }
        div{
            div{
                @media @tablets,@desktop,@desktopXL {
                    font-size: large;
                } 
                // color: @circleOrange;

            }
        }
    }
}
#mySidenav{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:  @alturaNavDesktop+5;
    @media @smartphones{
        margin-top: @alturaNavCell+5;
    } 
    @media @tablets,@desktop,@desktopXL{
        margin-top:  @alturaNavDesktop+30;
        width: 250px;  
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */


    @media @smartphones {
        a:nth-child(2) {
            margin-top: 10px;
        }
        padding-top: 15px;
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        @media @smartphones {
            font-size: 18px;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        @media @smartphones {
            top: -2%;
            right: 2%;
        }
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

#subjectProgress{
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    @media @tablets,@desktop,@desktopXL {
        font-size: x-large;
    } 
    div:nth-child(1) {
        display: flenth-cx;
        align-items: baseline;
    }

    div:nth-child(2) {
        font-size: large;
        @media @tablets,@desktop,@desktopXL {
            font-size: xx-large;
        } 
        font-weight: bold;
    }

    div:nth-child(3) {
        color: @circleOrange;
    }
}

/*By Jesús*/
.panel-success > .panel-heading {
    color: #3c763d;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.panel-success {
    border-color: @colorGrisEduWEB;
}
.btn-success {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:hover {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:active:focus {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:focus {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}

#navbarInferior{
    background-color: @colorNavBar;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 100%;
    }
}
#navInfReport{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @colorNavBar;
    bottom: 50px;
    right: 0;
    width: 20%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    img{
        width: 50%;
    }
}
#allWeeks{
    height: 51.5px;
}
#teacherObservations{

    padding-top: 60px;
    //height: -webkit-fill-available;
    @media @tablets{ 
        padding-top: 120px;
    }
    @media @desktop{ 
        padding-top: 120px;
    }
    @media @desktopXL{ 
        padding-top: 120px;
    }

    #namesMonths{
        display: flex;
        text-align: center;
        font-weight: bold;
    }
    #divCircleWeeks{
        display: flex;
        //background linea horizontal
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(48%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );


        .circleWeek{
            cursor: pointer;
            // background-color: @circleDarkBlue;
            height: 70px;
            width: 70px;
            color: white;
            border-radius: 50%;
            margin-left: 10px; 
            text-align: center;
            vertical-align: middle;
            line-height: 65px; 
            font-family: 'Coda Caption', sans-serif;
            font-size: xx-large;
            @media @smartphones {
                height: 25px;
                width: 25px;
                line-height: 25px;
                font-size: small;
            }

        }
    }
    #allDays{

        padding-left: 0px;
        margin-left: 10px;
        padding-right: 0px;

        #divCircleDays{
            display: flex;
            flex-direction: column;
            padding: 0px;
            justify-content: center;
            align-items: center;
            //LINEA VERTICAL BACKGROUND
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(48%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
            .circleDay:nth-child(1){
                margin-top: 25px;
            }
            .circleDay{
                cursor: pointer;
                background-color: @circleDarkBlue;
                height: 70px;
                width: 70px;
                color: white;

                border-radius: 50%; 
                text-align: center;
                vertical-align: middle;
                line-height: 65px; 
                font-family: 'Coda Caption', sans-serif;
                font-size: xx-large;
                //margin-top: 30px;
                @media @smartphones {
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    font-size: small;
                }

            }
        }
    }
    #divObservations{

        .divOneComment{
            margin:0px;
            padding:0px;

            .divTeachers{
                margin:0px;
                padding:0px;
                margin-top: 10px;
                .divFotoTeacher{
                    img{
                        height: 75%;
                        border-radius: 50%;
                        width: 100%;
                    }
                }
                div{
                    text-align: center;
                    font-weight: bold;
                }
            }

            .divComments{
                background-color: #7777771c;
                border-radius: 8px;
                margin-left: 5%;
                margin:0px;
                padding:0px;
                margin-top: 10px;
                -webkit-box-shadow: 27px 22px 69px -29px rgba(0,0,0,0.75);
                -moz-box-shadow: 27px 22px 69px -29px rgba(0,0,0,0.75);
                box-shadow: 27px 22px 69px -29px rgba(0,0,0,0.75);
                .triangDivSup{
                    position: relative;
                    background: #ffffff; /* Old browsers */
                    background: -moz-linear-gradient(-45deg, #ffffff 50%, #f0f0f0 51%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, #ffffff 50%,#f0f0f0 51%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(135deg, #ffffff 50%,#f0f0f0 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */        width: 12px;
                    width: 12px;
                    height: 12px;
                    right: 12px;
                    top: 12px;

                }
                .triangDivInf{
                    position: relative;
                    background: #ffffff; /* Old browsers */
                    background: #ffffff; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #ffffff 50%, #f0f0f0 51%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #ffffff 50%,#f0f0f0 51%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #ffffff 50%,#f0f0f0 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    width: 12px;
                    height: 12px;
                    right: 12px;
                    top: 12px;
                }
                .divInfoComment{
                    height: 100%;
                    position: relative;
                    top: -20px;
                    margin-right: 5px;
                    margin-left: 5px;
                    p{
                        margin: 0px !important;
                    }
                }
                .divFoto{
                    display: flex;
                    justify-content: center;
                    img{
                        max-height: 300px;
                        max-width: 100%;

                        margin-bottom: 5px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }

            }
            .divComments:nth-child(1){
                margin-top: 5px;
            }

        }
    }
}

#whatsDoingPage{
    margin-top: 60px;
    margin-bottom: 80px;
    #infWhatPrincipal{
        position: fixed;
        left: 0;
        padding: 3px !important;
        z-index: 2;
        top: @alturaNavCell + @alturaNameStudent - 1px;
        .infWhat{
            text-decoration: underline double;
            font-size: x-large;
            background-color: white;
            padding: 0px;
            text-align: center;
            color: @circleOrange;

        }
    }
    #navInfWhatIDoing{
        .infWhat{
            cursor: pointer;
            //font-weight: bold;
            margin: 0px;
            color: @circleOrange;
            font-size: 10.5px;
            padding: 0px;
            text-align: center;
            border-radius: 8px;
            padding: 3px;
            background-color: #f2f2f2;
            box-shadow: rgba(6, 6, 6, 0.65) 2px 2px 8px 0px;
        }
        position: fixed;
        bottom: @alturaNavCell + @alturaNameStudent;
        width: 96%;
        left: 2%;
        padding-bottom: 5px !important;
        background-color: white;

        .infWhat:nth-child(2) {
            margin-left: 4%;
        }
        .col-xs-6{
            width: 48%;  
        }
    }   

    #accordionWhats{
        margin-top: 20px;
        img{
            width: 20px;
            height: 20px;   
        }
        img:nth-child(1) {
            margin-right: 5px;
        }
        img:nth-child(2) {

        }
        img:nth-child(3) {
            width: 15px;
            height: 15px; 
        }
        .card{
            margin-bottom: 7px;
            .card-header{
                border-bottom: 1px solid #bbb7b7e6;
                h3{
                    font-size: 18px;
                }
            }
            .card-header:last-child {
                border-bottom: 1px solid white;
            }
            .subjectTitle{
                display: flex;
                color: #2f4591;
                align-items: center;
            }
            a{
                color:black;
                display: flex;
                justify-content: space-between;
                div{
                    display: flex;
                    align-items: center;
                }

                div:nth-child(1){
                    color:#2f4591;
                }

                div:nth-child(2){
                    color: @colorCircleSelect;
                }
            }
            a:focus:hover{
                text-decoration: none !important;
            }
            .accorSteps{
                display: flex;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
            ul{
                list-style-type: none;
                padding-left: 20px;
            }
        }
    }


    /*izquierda
    font-weight: bold;
    margin: 0px;
    color: #f99927;
    font-size: 10px;
    padding: 0px;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    background-color: #d5d5d57a;
    }
    .col-xs-6 {
    width: 48%;
    
    derecha
    
    padding-left: 0px; */
    /* padding: 0px; */
    /* margin: 0px; */
    /* margin-left: 5px; */
    /* font-weight: bold;
     margin: 0px;
     font-size: 9.9px;
     padding: 0px;
     text-align: center;
     border-radius: 8px;
     padding: 3px;
     background-color: #d5d5d57a;
     margin-left: 4%;
    }
    .col-xs-6 {
     width: 48%;
    }
    */
}

/*
LINEA VERTICAL BACKGROUND
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(48%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
*/
