@smartphones: ~"only screen and (max-width: 481px)";
@tablets: ~"only screen and (min-width: 482px) and ( max-width: 1023px)";
@desktop: ~"only screen and (min-width: 1024px) and ( max-width: 1280px)";
@desktopXL: ~"only screen and (min-width: 1281px) and ( max-width: 2048px)";

@colorCircle: #055263;
@colorCircleSelect: #f99927;
@colorGrisEduWEB: #F39200;
@alturaNavDesktop: 90px;
@alturaNavCell: 40px;

@fondo:#dadada;
body
{
    background-color: @fondo;
}
img
{
    @media @smartphones{ 
        width:60%;

            }
    @media @tablets{ 
        width:60%;

    }
    @media @desktop{ 
        width:60%;

    }
    @media @desktopXL{ 
        width:40%;

    }  
}
.nopaddingMargin {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding{
    padding: 0 !important;
}


#nameStudent{
    position: absolute;
    top: @alturaNavDesktop+2;

    font-size: medium;
    font-weight: bold;
    background-color: #05526333;
    border-radius: 3px;

    @media @tablets{
        font-size: small;

    }
    @media @smartphones{
        font-size: xx-small;
        top: @alturaNavCell+2;
    }
}
#userform {
    max-width: 35%;
    @media @tablets{
        max-width:50%;
    }
    @media @smartphones{
        max-width:100%;
    }
}

.navUsuario{
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: @alturaNavDesktop;
    margin-bottom: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    z-index: 2;
    @media @smartphones{
        height: @alturaNavCell;
    }

    .row{
        height: 100%;
        #childrensNav{
            height: 100%;
            .row{
                margin: 0px;

                display:flex;
                align-items: center;
                .circle{
                    cursor: pointer;
                    background-color: @colorCircle;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    border: 3px solid  #fff;
                    margin-left: 5px; 
                    text-align: center;
                    vertical-align: middle;
                    line-height: 65px; 
                    font-family: 'Coda Caption', sans-serif;
                    font-size: xx-large;
                    @media @smartphones {
                        height: 35px;
                        width: 35px;
                        border: 2px solid #fff;
                        line-height: 30px; 
                        font-size: medium;
                    }
                }
            }
        }
        .divName{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-items: center;
            height: 100%;
            .row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .parentName{
                    margin: 0px;
                    font-size: x-large;
                    @media @smartphones {
                        font-size: x-small;
                    }
                }
                .termName{
                    margin: 0px;
                    @media @smartphones, @tablets {
                        margin: 0px;
                        font-size: xx-small;
                    }

                }
            }
        }
        .logOut{
            height: 100%;
            a img{
                height: 100%;
                width: 80%;
            } 
        }
    }
}

#homepage{
    
    padding-top: 80px;
    //height: -webkit-fill-available;
    @media @tablets{ 
        padding-top: 120px;
    }
    @media @desktop{ 
        padding-top: 120px;
    }
    @media @desktopXL{ 
        padding-top: 120px;
    }
    div{
        div{
            //background-color: @colorCircle;
            
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            margin-bottom: 10px;
            height:300px;
            flex-direction: column;
            color: white;
            font-weight: bold;
            text-align: center;
            @media @smartphones{ 
                height:180px;
                font-size: smaller;
                padding: 5%;

            }
            @media @tablets{ 
                height:250px;
                font-size: small;
                padding: 2%;

            }
            @media @desktop{ 
                height:300px;
                font-size: medium;
                padding: 2%;

            }
            @media @desktopXL{ 
                height:350px;
                font-size: medium;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 2%;
                padding-bottom: 2%;

            }
        }

        
        .btnHomepage:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }
    /*.area{
        height: 250px;
        margin-bottom: 3px;
        border-radius: 10px;
        @media @smartphones {
            height: 250px;
        }
        @media  @tablets{
            height: 350px;
        }
    }*/
}

#accordion{
    transition: margin-left .5s;
    padding: 20px;
    margin-top:  @alturaNavDesktop+8;
    @media @smartphones{
        margin-top: @alturaNavCell+8;
    }
    @media @tablets,@desktop{
        margin-left: 250px;    
    }
    h1{
        text-align: center;

    }
    .progressMastered{
        width: 34%;
        background-color: green;
    }

    .progressPresented{
        width: 33%;
        background-color: gold;
        color: #333333;
    }

    .progressAttempted{
        width: 33%;
        background-color: orange;
        color: #333333;
    }
    .progress{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
#mySidenav{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:  @alturaNavDesktop+5;
    @media @smartphones{
        margin-top: @alturaNavCell+5;
    } 
    @media @tablets,@desktop{
        margin-top:  @alturaNavDesktop+30;
        width: 250px;  
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    @media @smartphones {
        padding-top: 15px;
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        @media @smartphones {
            font-size: 18px;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
#subjectProgress{
    margin-top:15px;
}

/*By Jesús*/
.panel-success > .panel-heading {
    color: #3c763d;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.panel-success {
    border-color: @colorGrisEduWEB;
}
.btn-success {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:hover {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:active:focus {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}
.btn-success:focus {
    color: #fff;
    background-color: @colorGrisEduWEB;
    border-color: @colorGrisEduWEB;
}