body {
  background-color: #dadada;
}
@media only screen and (max-width: 481px) {
  img {
    width: 60%;
  }
}
@media only screen and (min-width: 482px) and ( max-width: 1023px) {
  img {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) and ( max-width: 1280px) {
  img {
    width: 60%;
  }
}
@media only screen and (min-width: 1281px) and ( max-width: 2048px) {
  img {
    width: 40%;
  }
}
.nopaddingMargin {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
#nameStudent {
  position: absolute;
  top: 92px;
  font-size: medium;
  font-weight: bold;
  background-color: #05526333;
  border-radius: 3px;
}
@media only screen and (min-width: 482px) and ( max-width: 1023px) {
  #nameStudent {
    font-size: small;
  }
}
@media only screen and (max-width: 481px) {
  #nameStudent {
    font-size: xx-small;
    top: 42px;
  }
}
#userform {
  max-width: 35%;
}
@media only screen and (min-width: 482px) and ( max-width: 1023px) {
  #userform {
    max-width: 50%;
  }
}
@media only screen and (max-width: 481px) {
  #userform {
    max-width: 100%;
  }
}
.navUsuario {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  height: 90px;
  margin-bottom: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  z-index: 2;
}
@media only screen and (max-width: 481px) {
  .navUsuario {
    height: 40px;
  }
}
.navUsuario .row {
  height: 100%;
}
.navUsuario .row #childrensNav {
  height: 100%;
}
.navUsuario .row #childrensNav .row {
  margin: 0px;
  display: flex;
  align-items: center;
}
.navUsuario .row #childrensNav .row .circle {
  cursor: pointer;
  background-color: #055263;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid  #fff;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  font-family: 'Coda Caption', sans-serif;
  font-size: xx-large;
}
@media only screen and (max-width: 481px) {
  .navUsuario .row #childrensNav .row .circle {
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    line-height: 30px;
    font-size: medium;
  }
}
.navUsuario .row .divName {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  height: 100%;
}
.navUsuario .row .divName .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navUsuario .row .divName .row .parentName {
  margin: 0px;
  font-size: x-large;
}
@media only screen and (max-width: 481px) {
  .navUsuario .row .divName .row .parentName {
    font-size: x-small;
  }
}
.navUsuario .row .divName .row .termName {
  margin: 0px;
}
@media only screen and (max-width: 481px), only screen and (min-width: 482px) and ( max-width: 1023px) {
  .navUsuario .row .divName .row .termName {
    margin: 0px;
    font-size: xx-small;
  }
}
.navUsuario .row .logOut {
  height: 100%;
}
.navUsuario .row .logOut a img {
  height: 100%;
  width: 80%;
}
#homepage {
  padding-top: 80px;
  /*.area{
        height: 250px;
        margin-bottom: 3px;
        border-radius: 10px;
        @media @smartphones {
            height: 250px;
        }
        @media  @tablets{
            height: 350px;
        }
    }*/
}
@media only screen and (min-width: 482px) and ( max-width: 1023px) {
  #homepage {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 1024px) and ( max-width: 1280px) {
  #homepage {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 1281px) and ( max-width: 2048px) {
  #homepage {
    padding-top: 120px;
  }
}
#homepage div div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 300px;
  flex-direction: column;
  color: white;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 481px) {
  #homepage div div {
    height: 180px;
    font-size: smaller;
    padding: 5%;
  }
}
@media only screen and (min-width: 482px) and ( max-width: 1023px) {
  #homepage div div {
    height: 250px;
    font-size: small;
    padding: 2%;
  }
}
@media only screen and (min-width: 1024px) and ( max-width: 1280px) {
  #homepage div div {
    height: 300px;
    font-size: medium;
    padding: 2%;
  }
}
@media only screen and (min-width: 1281px) and ( max-width: 2048px) {
  #homepage div div {
    height: 350px;
    font-size: medium;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
#homepage div .btnHomepage:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#accordion {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-top: 98px;
}
@media only screen and (max-width: 481px) {
  #accordion {
    margin-top: 48px;
  }
}
@media only screen and (min-width: 482px) and ( max-width: 1023px), only screen and (min-width: 1024px) and ( max-width: 1280px) {
  #accordion {
    margin-left: 250px;
  }
}
#accordion h1 {
  text-align: center;
}
#accordion .progressMastered {
  width: 34%;
  background-color: green;
}
#accordion .progressPresented {
  width: 33%;
  background-color: gold;
  color: #333333;
}
#accordion .progressAttempted {
  width: 33%;
  background-color: orange;
  color: #333333;
}
#accordion .progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
#mySidenav {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 95px;
}
@media only screen and (max-width: 481px) {
  #mySidenav {
    margin-top: 45px;
  }
}
@media only screen and (min-width: 482px) and ( max-width: 1023px), only screen and (min-width: 1024px) and ( max-width: 1280px) {
  #mySidenav {
    margin-top: 120px;
    width: 250px;
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
@media only screen and (max-width: 481px) {
  .sidenav {
    padding-top: 15px;
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
@media only screen and (max-width: 481px) {
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
#subjectProgress {
  margin-top: 15px;
}
/*By Jesús*/
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #F39200;
  border-color: #F39200;
}
.panel-success {
  border-color: #F39200;
}
.btn-success {
  color: #fff;
  background-color: #F39200;
  border-color: #F39200;
}
.btn-success:hover {
  color: #fff;
  background-color: #F39200;
  border-color: #F39200;
}
.btn-success:active:focus {
  color: #fff;
  background-color: #F39200;
  border-color: #F39200;
}
.btn-success:focus {
  color: #fff;
  background-color: #F39200;
  border-color: #F39200;
}
/*# sourceMappingURL=newstyle.css.map */